* {
    margin: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400px;
    font-size: 16px;

    line-height: 40px;
    text-align: right;
    align-items: center;
    font-style: normal;
    line-height: 26px;




}

.btn-color {
    color: #005FAC;
    background: #FFFFFF;

    position: absolute;
    width: 160px;
    height: 64px;
    border: 0;
    padding: 16px 40px;
    left: 1210px;
    top: 578px;

}

.front-size {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700px;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    color: #FFFFFF;

}

.text-pri {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

    text-align: right;
    padding: right;
    margin: 50px;
}

.banner {
    margin: 420px, 300px;

}

.margin line {
    margin-right: 300px;
    display: flex;
}



.about {

    display: flex;
    gap: 100px;
    text-align: center;
    justify-content: center;
    margin-bottom: 200px;
}

.section-title {

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #151414;

}

.section-description {

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400PX;
    font-size: 16px;
    line-height: 26px;

    color: #444343;
    margin: 0px, 200px;


}



.text-center {

    position: absolute;
    width: 179px;
    height: 47px;
    left: 765px;
    top: 1792px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700px;
    font-size: 4000px;
    line-height: 47px;


    text-align: center;
    color: #151414;

}

.flex {
    display: flex;
    justify-content: space-between;

}

.mindset {

    position: absolute;
    width: 800px;
    height: 200px;
    left: 230px;
    top: 2221.96px;


    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    border-radius:
}

.btn {
    text-align: left;
    align-items: flex-start;
    justify-content: left;
    margin-right: 700px;
}

.mindset-title {
    text-align: left;
    font-size: 30px;
    color: white;
}

.fn {

    width: 178.82px;
    height: 105.32px;
    left: 129px;
    top: 2784px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;

    color: #F8F8F8;
}

.bn {
    position: absolute;
    width: 1600px;
    height: 576px;
    left: 0px;
    top: 2653px;
    background: #151414;
}
.pp{
    
}

.em {
    text-align: left;
    font-size: larger;
    width: 222.32px;
    height: 51.67px;
    left: 129px;
    top: 2953.9px;


}

.ph {
    text-align: left;
    font-size: larger;
    width: 224.73px;
    height: 51.67px;
    left: 129px;
    top: 2995.63px;
}

.icn {
    display: flex;
}

.cn {
    text-align: left;
    width: 485px;
    height: 78px;
    left: 230px;
    top: 2850.96px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */


    color: #FFFFFF;
}